@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
    font-family: 'Nunito-sans', sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.BannerBox {
    height: 50vh;
    width: 100%;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 80%;
    height: 80%;
    background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%);
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.28);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
    justify-content: center;
    position: relative;
}

.banner img {
    position: absolute;
    aspect-ratio: auto;
    margin-left: 38vw;
    height: 40vw;
    width: 40vw;
}

.banner > h1 {
    font-size: 4.1vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.banner > h1 > span {
    font-weight: 100;

}

.banner > h3 {
    width: 32vw;
    font-size: 1.8vw;
    line-height: 1.5;
    font-weight: 400;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5vh;
    font-size: larger;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    padding: 2vh;
    justify-items: center;
}

.col {
    display: flex;
    flex-direction: row;
    padding: 2vh;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    background: #F47A51;
    margin: 5vh 0;
    border-radius: 25px;
}

.col > img {
    height: 20vh;
    width: auto;
    border-radius: 50%;

}

.title {
    font-size: max(2vw, 2.5vh);
}

.description {
    width: 30vw;
    text-align: end;
}

.time {
    font-weight: bold;
}

.cont {
    display: flex;
    width: 100%;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.listContainer {
    width: 80%;
    border-radius: 20px;
    background-color: #f0f0f0;
    overflow-y: scroll;
    padding: 1.5rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-bottom: 2vh;
}

.listContainer::-webkit-scrollbar {
    display: none;
}


.listItem {
    background: #F47A51;
    margin: 1vh;
    border-radius: 25px;
    width: auto;
}

footer {
    height: 15vh;
    width: 100%;
    background: linear-gradient(90deg, #424242 32.77%, #101010 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: 500;
    font-size: max(1.5vw,2vh);
}

footer > h3 {
    color: white;
    font-size: 1vw;
    font-weight: 400;
}

@media only screen and (max-width: 1150px) {
    .BannerBox {
        margin-top: 5vh;
    }

    .banner > h1 {
        font-size: 6vw;
        font-weight: 500;
    }

    .banner > h3 {
        width: 35vw;
        font-size: 2.0vw;
        line-height: 1.5;
        font-weight: 400;
    }

    .banner {
        height: 60%;
    }

    .banner > img {
        height: 110%;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(80%, 0);
        margin: 0;
        z-index: 1;
        opacity: 0.6;
    }
    .heading{
        margin-top: -15vh;

    }

    footer > h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .banner > h1 {
        font-size: 10vw;
    }

    .banner > h3 {
        width: 50vw;
        font-size: 4vw;
        line-height: 1.5;
        font-weight: 400;
    }

    .banner {
        width: 90%;
        height: 60%;
        background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%) no-repeat center;
        background-size: cover;
        position: relative;
    }

    .banner > img {
        transform: translate(40%, 0);
    }

    .col {
        flex-direction: column;
    }

    .description {
        text-align: justify;
        width: 75%;
    }

    .row {
        align-items: center;
    }

    .col >img{
        height: 12vh;
    }
    footer > h3 {
        font-size: 10px;
    }



    footer {
        height: 10vh;
    }
}
