.card-box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-card-box{
    width: 350px;
    height: 250px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.28);
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 15px;
}
.popup-header{
    height: 206px;
    width: 350px;
    display: flex;
    justify-content: flex-start;
    border-radius: 28px 28px 0 0;


}
.Image-box{
    height: 206px;
    width: 140px;
    display: flex;
    border-radius: 28px 0 0 0;

}

.Image-box > img{
    margin: 0;
    height: 206px;
    width: 100%;
    object-fit: cover;
    border-radius: 28px 0 0 0;
}
.Title-box{
    width: 200px;
    height: 200px;
    padding: 20px 5px 20px 5px;
    overflow-y: hidden;
}
.Main-title {
    height: 28px;
    width: 100%;
    padding: 3px 5px 0 5px;
    background: #FB8A65;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}
.Main-title > p{
    color: white;
    font-size: 14px;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Description{
    padding-left: 4px;
    margin-top: .5rem;
    white-space: pre-wrap;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: normal;
    overflow-wrap: break-word;
}

.Description > h3{
    color: black;
    margin-bottom: .1rem;
    font-size: 16px;

}
.tags{
    font-size: 10px;
    font-style: oblique;
    font-weight: 600;
    color: #FB8A65;
    margin-bottom: .5rem;
    text-transform: uppercase   ;
}
.Description > p{
    line-height: 1rem;
    font-size: 12px;
    font-weight: 400;
}
.popup-footer{
    height: 72px;
    border-radius: 0 0 28px 28px;
    width: 350px;
    display: flex;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%);
}
.popup-footer > p{
    font-size: 12px;
    line-height: 1rem;
    /*text-align: center;*/
}
.popup-footer > p > strong{
    font-size: 16px;
    font-weight: 600;
}
.popup-footer > button{
    width: 117px;
    height: 32px;
    color: #fff;
    background: linear-gradient(90deg, #424242 32.77%, #101010 100%);
    border-radius: 10px;
    border: none;
    outline: none;
}

.card-box button:hover{
    cursor: pointer;
}
.deleteIcon{
    border: none;
    margin-left: 160px;
    margin-top: 45px;
}
