.lostContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-content: center;
    align-items: center;
}

.lostpage-banner {
    height: min(15vh,20vw);
    margin-top: 2vh;
    width: max(50%,250px);
    background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%);
    box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.lostpage-banner > h1 {
    font-weight: 500;
    font-size: max(3vw,4vh);
}

.lostItems{
    margin-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem;
}
