.lostContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.lost-items {
    width: 80%;
    height: 100%;
}

.lostpage-banner {
    height: 20%;
    width: 100%;
    background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%);
    box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.lostpage-banner > h1 {
    font-weight: 500;
    font-size: 40px;
}

.lostitems-box {
    width: 100%;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-right: 3%;
    white-space: nowrap;
    padding: 1rem;
}
