.lostContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-content: center;
    align-items: center;
}

.lostpage-banner {
    height: min(15vh,20vw);
    width: max(80%,250px);
    background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%);
    box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.progressBox{
    margin-top: 20vh;
    width: 100%;
    text-align: center;
}
.progressBox > h3{
    color: #726f6f;
    text-shadow: 1px 1px black;
}
.search-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-box > button{
    width: 100px;
    height: 32px;
    color: #fff;
    background: linear-gradient(90deg, #424242 32.77%, #101010 100%);
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 0.5rem;
} 

.lost-page-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.filterBox{
    padding: 0.5rem;
    width: 15%;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%);
    box-shadow: 10px 10px 30px 4px rgb(0 0 0 / 25%);
    margin-top: 8vh;
    position: fixed;
    top: 15vh;
    left: 2vw;
}

.filter-box-spacing{
    padding: 0.5rem;
    width: 15%;
    height: 100vh;
    z-index: -90;
}


.filterBox > fieldset > div{
    margin-top: 1rem;
}
.fieldset{
    width: 100%;
}
.fieldset > div {
    width: 100%;
}
.lostpage-banner > h1 {
    font-weight: 500;
    font-size: max(3vw,4vh);
}

.lostItems{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;       
    align-items: center;
    padding: 1rem;
}

@media only screen and (max-width: 1410px){
    .filterBox{
        display: none;
    }
    .filter-box-spacing{
        display: none;
    }
    .progressBox{
        width: 100%;
        min-height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0;
    }
    .progressBox > h3{
        margin-left: 2rem;
      }
    .lostpage-banner{
        width: 100%;
    }
}

@media only screen and (max-width: 1150px) {
   
}

@media only screen and (max-width: 640px) {
    .progressBox > h3{
        font-size: 14px;
        text-shadow: none;
    }
    .lostpage-banner > h1{
      font-size:  max(2vw,3vh);;
    } 

}