frontend/node_modules
backend/node_modules
frontend/package-lock.json
backend/package-lock.json
frontend/.env
backend/.env
.idea/.gitignore
.idea/jsLibraryMappings.xml
.idea/discord.xml
.idea/lostAndFound.iml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/jsLinters/eslint.xml
backend/.idea/backend.iml
backend/.idea/discord.xml
.gitignore
backend/.idea/modules.xml
backend/.idea/vcs.xml
backend/.idea/workspace.xml
backend/.idea/codeStyles/codeStyleConfig.xml
backend/.idea/codeStyles/Project.xml
backend/.idea/inspectionProfiles/Project_Default.xml
frontend/.gitignore
.idea/inspectionProfiles/Project_Default.xml
/backend/utils/lost-and-found.json
