<footer style="height: 10vh;width: 90%;padding: 10px; max-width: 650px;  background: linear-gradient(90deg, #424242 32.77%, #101010 100%); position: relative">
    <table style="text-align: center; width: 100%; margin-top: auto; position: absolute; bottom: 5px;">
        <tr>
            <td style="text-align: center;">
                <h3 style="color: white;font-size: 10px;font-weight: 400;">Created by: The Programming Club</h3>
                <h3 style="color: white;font-size: 10px;font-weight: 400;">PDPM IIITDM Jabalpur Campus, Khamaria, Jabalpur, Madhya Pradesh 482005</h3>
            </td>
        </tr>
    </table>

</footer>
</center>
</body>
</html>
