<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/newsletter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and Found Newsletter</title>
</head>
<body class="container">
<section class="BannerBox">
<div class="banner">
    <h1>Lost <span> & </span> Found</h1>
    <h3>We help everyone find their lost things!</h3>
    <img src='https://res.cloudinary.com/masterchief/image/upload/v1660475392/lostAndFound/banner_2_ku9kqn.webp'
         alt="banner" />
</div>
</section>
<div class="heading">
<h1>Items Reported Today</h1>
</div>
