<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and Found Newsletter</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

        table {
            border-spacing: 0;
        }

        td {
            padding: 0;
        }

        body {
            margin: 0;
        }

        img {
            border: 0;
        }

        .wrapper {
            width: 100%;
        }

        .preview h1{
            font-size: 4em;
            font-weight: 500;
            color: #000;
            font-family: 'Nunito-sans', sans-serif;
            z-index: 1;
            margin: 0;
        }
        .preview span{
            font-size: 3em;
            font-weight: 300;
            color: #000;
            margin-top: 1vh;
            margin-bottom: 2vh;
            font-family: 'Nunito-sans', sans-serif;
            z-index: 1;
        }
        .preview p{
            font-size: 2em;
            font-weight: 400;
            color: #000;
            margin: 1vh 0;
            text-align: center;
            font-family: 'Nunito-sans', sans-serif;
            z-index: 1;
        }

        .profile{
            width: 15%;
            height: auto;
            margin: 0 0 5%;
            border-radius: 50%;
            z-index: 1;
        }


        .main {
            width: 90%;
            table-layout: fixed;
            height: 30vh;
            max-width: 600px;
            margin: 50px auto;
            background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%) no-repeat center;
            box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.28);
            border-radius: 50px;
        }
        .preview{
            height: 60vh;
            width: 90%;
            table-layout: fixed;
            max-width: 670px;
            background: linear-gradient(90deg, #BFB2C4 0%, #E3DDD3 100%) no-repeat center;
            box-shadow: 9px 9px 26px 3px rgba(0, 0, 0, 0.25);
            border-radius: 35px;
            margin-bottom: 5%;
        }
    </style>
</head>
<body style="margin:0; font-family: 'Poppins', sans-serif">
<center class="wrapper">
    <table class="main">
        <tr>
            <td>
                <h1 style="text-align: center; font-size: max(300%,4.1vw);font-weight: 500;font-family: 'Poppins', sans-serif;">
                    Lost <span
                            style="font-weight: 100;"> & </span> Found</h1>
                <h3 style="font-size: max(140%,2.2vw);line-height: 1.5;font-weight: 400;text-align: center;">
                    We
                    help everyone find their lost things!</h3>
            </td>
        </tr>
    </table>
