.home p {
    padding-top: 20vh;
    font-size: 6rem;
    font-weight: 800;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
}

.home span {
    font-weight: 200;
    margin-top: 40vh;
    font-family: 'Nunito Sans', sans-serif;
}

.sectionTop {
    height: 90vh;
}

.section {
    height: 100vh;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}

.boxes span {
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
}

.boxesTable {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.table {
    border: black solid 1px;
    width: 40vw;
    height: 55vh;
    margin-bottom: 10vh;
    overflow-y: scroll;
}

.table::-webkit-scrollbar {
    display: none;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row p {
    margin-top: 10vh;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
}

.table p {
    margin: 2vw;
}
